<div class="container">

    <!--main header -->
    <div class="main-header">

        <!-- <input type="text" id="myInput" placeholder="Search..." >[(ngModel)]="search"> -->

        <!--logo div-->
        <div class="user-logo">
            <h2>User</h2>
        </div>

        <!--sidecontent-->
        <div class="side-content">

            <!-- dropdown-->
            <div class="div-list">
                <label for="department">client:</label>
                <select id="department" name="department" formControlName="departList">
                    <option *ngFor="let d of departList" [value]="d.id">
                        {{ d.name }}
                    </option>
                </select>
            </div>
            <!--search-->
            <div  class="div-search">
                <input type="text" id="myInput" placeholder="Search..." class="margin" [(ngModel)]="userSearch">
            </div>
            <!--button-->
            <button class="btn btn-primary margin" (click)="showForm()">+Add user</button>

        </div>


    </div>
    <!-- end of the main header-->

    <!--open form-->

    <div class="openform" *ngIf="showMe">
        <!-- add form on button click-->

        <!-- conditon for display form-->
        <div  class="div-form">

            <!-- form starts here-->
            <form [formGroup]="useradd">
                <!-- <h2> Registration Form </h2> -->
                <div>
                    <div class="space">
                        <label for="fname"> FirstName:   </label>
                        
                            <input type="text" name="fname" id="fname" formControlName="firstName" value="" place
                                holder=" *">
                            <span *ngIf="!user['firstName']?.valid && user['firstName']?.touched"> *</span>
                        
                    </div>
    
                    <div class="space">
                        <label for="lname"> Last Name: </label>
                        <p>
                            <input type="text" name="lname" id="lname" formControlName="lastName">
                            <span *ngIf="!user['lastName']?.valid && user['lastName']?.touched">*</span>
                        </p>
                    </div>
    
                    <div class="space">
                        <label for="mail"> Email:  </label>
                      
                            <input type="text" name="mail" id="mail" formControlName="Email">
                            <span *ngIf="!user['Email']?.valid && user['Email']?.touched">*</span>
                   
                    </div>
    
                    <div class="space">
                        <label for="phone"> Phone Number:  </label>
                   
                            <input type="tel" name="phone" id="phone" formControlName="phoneNumber">
                            <span *ngIf="!user['phoneNumber']?.valid && user['phoneNumber']?.touched">*</span>
                      
                    </div>
    
                    <div class="space">
                        <!-- department data-->
                        <label for="department"> client:  </label>
                        <div>
                            <select id="department" name="department" formControlName="departList">
                                <option *ngFor="let d of departList" [value]="d.id">
                                    {{ d.name }}
                                </option>
                            </select>
                            <span *ngIf="!user['departList']?.valid && user['departList']?.touched"> *</span>
                        </div>
                    </div>
                </div>
                <div class="space">
                    <button (click)="onsubmit()" [disabled]="!useradd.valid"> Submit </button>
                </div>

            </form>
        </div>

    </div>
    <!-- end of the top-->

    <div class="table">
        <table>
            <thead>
                <tr>
                    <!-- <th> No </th> -->
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Phone Number </th>
                    <th> Email </th>
                    <th> Client </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>

                <!-- <tr *ngFor="let list of listdata | searchText:search"> -->
                <tr *ngFor="let list of listdata | userSearch:userSearch">
                    <!-- <td> {{list.id}}</td> -->
                    <td> {{list.firstName}} </td>
                    <td> {{list.lastName}} </td>
                    <td> {{list.phoneNumber}} </td>
                    <td> {{list.Email}} </td>
                    <td> {{list.departList | idFilter: departList}} </td>
                    <td><i (click)="editData(list.id)" class='bx bxs-edit-alt'></i>
                        <i (click)="deletedata(list.id)" class='bx bxs-trash'></i>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>