.container{
    border: 5px solid red;
    display: flex;
    flex-grow: 1;
    width: 100%;
   
}

// .container{
       
//         // display: flex;
//         // flex-direction: column;
//         // width: 100%;
        

//         .main-header{
//             display: flex;
//             justify-content: space-between;
//         }
//         .side-content{
//             display: flex;
//         }
           
//         //   .openform{
//         //    display: flex;
//         //    flex-wrap: nowrap;
//         //    width: 100%;
//         //   }
//         //   .div-form{
//         //     display: flex;
//         //     flex-wrap: wrap;
//         //     justify-content: center3;
//         //   }
        
//         //     #myInput {
//         //         background-position: 10px 12px;
//         //         background-repeat: no-repeat;
//         //         // width: 50px;
//         //         font-size: 15px;
//         //         // padding: 12px 20px 12px 40px;
//         //         padding: 10px 10px;
//         //         border: 1px solid #ddd;
        
//         //      }
//         //      span{
//         //          color: red;
//         //      }
          
            
//         }        
    
       
//         button{
//             border: none;
//             background-color:#507def;
//             color: rgb(240, 239, 239);
//             margin-left: 100px;
//             padding: 5px 10px;
//             font-weight: 600;
//             font-size: 15px;
//         }

    
//     .bx{
//         padding: 0 5px;
//         color: #2e2f36;
//         transform: scale(1.2,1.2);
//     }

//     table,td,th{
//         border-collapse: collapse;
//         padding: 5px 20px;
//         border: 1px solid #0708411c;
//         text-align: center;
//         color: rgb(37, 12, 12);
//         cursor: pointer;
//     }

//     th{
//         background-color: #aeb3b8;
//         color: black;
//     }

//     table{
//       width: 100%;
//         margin: 0 auto;
//     }
