//==============================================button===================================================
.btn {
    display: inline-block;
    color: $white;
    background-color: $dark;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    line-height: 1.5;
    font-size: 1rem;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid transparent;
    border-radius: 0.3rem;
  
    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  
    &:focus {
      outline: none;
    }
  
    &:active {
      transform: scale(0.98);
    }
  }
  
  .border{
     border: 2px solid $black;
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  .btn-primary {
    color: #fff;
    background-color: $primary;
  }
  
  .btn-secondary {
    color: #fff;
    background-color: $secondary;
  }
  
  .btn-danger {
    color: #fff;
    background-color: $danger;
  }
  
  .btn-success {
    color: #fff;
    background-color: $success;
  }
  
  .btn-warning {
    color: #fff;
    background-color: $warning;
  }
  
  .btn-info {
    color: #fff;
    background-color: $info;
  }
  
  //button from dat binding child1 and 2
  
  .btn-child1{
    padding: 10px 20px;
    background-color: $primary;
    color: $white;
    border-radius: 5px;
  }
  
  .btn-child2{
    padding: 10px 20px;
    background-color: $primary;
    border-radius: 5px;
    color: $white;
  }
  //================================= heading class with design ==========================================

  .btn-outline-primary {
    color: $primary;
    border-color: $primary;
    background-color: transparent;
  
    &:hover {
      color: $white;
      border-color: $primary;
      background-color: $primary;
    }
  }
  
  .btn-outline-secondary {
    color: $secondary;
    border-color: $secondary;
    background-color: transparent;
  
    &:hover {
      color: $white;
      border-color: $secondary;
      background-color: $secondary;
    }
  }
  
  .btn-outline-danger {
    color: $danger;
    border-color: $danger;
    background-color: transparent;
  
    &:hover {
      color: $white;
      border-color: $danger;
      background-color: $danger;
    }
  }
  
  .btn-outline-success {
    color: $success;
    border-color: $success;
    background-color: transparent;
  
    &:hover {
      color: $white;
      border-color: $success;
      background-color: $success;
    }
  }
  
  .btn-outline-warning {
    color: $warning;
    border-color: $warning;
    background-color: transparent;
  
    &:hover {
      color: $white;
      border-color: $warning;
      background-color: $warning;
    }
  }
  
  .btn-outline-info {
    color: $info;
    border-color: $info;
    background-color: transparent;
  
    &:hover {
      color: $white;
      border-color: $info;
      background-color: $info;
    }
  }