.wrapper{
    display: flex;

    height: 100%;
    overflow: hidden;
  
    .side{
        flex: 0 0 250px;
    // width: 300px;
    //overflow: hidden;
    }
    .main{
      
        border: 2px solid gold;
        flex-grow: 1;

    }
}

