.side-nav{
    display: flex;
    flex-direction: column;
    background-color: #99caf5 ;
    align-items: center;
    height: 100%; 
}

h1{
    color: #1e07855e;
    padding: 30px 40px;
    font-size: 30px;
}

ul{
    list-style: none;
    padding: 20px ;
    
    li{
        margin: 20px 0;
        padding: 15px 30px;
        border-radius: 10px;
        background-color: rgb(240, 219, 193);
    

        a{
            text-decoration: none;
            color: rgb(82, 79, 79);
            font-size: 20px;
            font-weight: 200;
            

            &.active:hover{
                // color: #f5257b;
                background: rgb(129, 219, 241);
            }
        }
    }
}